$color-1: #413c58; // Light blue - Action color
$color-2: #0f1a20; // Dark Blue
$color-3: #595959; // dark gray
$color-4: #c2c2c2; // silver
$color-5: #ffffff; // white
$color-6: #000000; // black

// additional colors

$success: #219653; // green success
$alert: #DD3030; // red alert
